.embed-responsive-16by9::before {
  padding-top: 56.25%;
}



.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;

  &:before {
    display: block;
    content: "";
  }
}

.embed-responsive .embed-responsive-item,
.embed-responsive embed,
.embed-responsive iframe,
.embed-responsive object,
.embed-responsive video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.video-bl {
  background: #000;
  position: relative;
}

.yt-toggle-play {
  .dfc;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 5;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  transition: 0.15s all;
  opacity: 1;
}

.yt-toggle-play.in-process {
  pointer-events: none;
  opacity: 0.95;
}

.yt-toggle-play.c-hide {
  opacity: 0;
}

.yt-toggle-play .play-icn {
  transition: 0.2s all;
  width: 15%;
  color: rgba(255, 0, 0, 0.6);
}

.yt-toggle-play:hover .play-icn {
  color: rgba(255, 0, 0, 1);
}


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: grey;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


.tu {
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 50px solid #555;
}

.tb {
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 50px solid #555;
}

.tl {
  width: 0;
  height: 0;
  border-top: 25px solid transparent;
  border-right: 50px solid #555;
  border-bottom: 25px solid transparent;
}

.tr {
  width: 0;
  height: 0;
  border-top: 25px solid transparent;
  border-left: 50px solid #555;
  border-bottom: 25px solid transparent;
}


.dn {
  display: none;
}

.center {
  text-align: center;
}

@keyframes opacity {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fade {
  animation: opacity 1s;
}

.anim {
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.ttc {
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.ibg {
  position: relative;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.vbg {
  position: relative;

  iframe,
  video,
  embed,
  object {
    .ttc;
    background-size: cover;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -20;
    position: fixed;
  }
}

.dfc {
  .df;
  .vc;
  .jc;
}


.tabs {
  >div {
    display: none;
    .fade;

    &.active {
      display: block;
    }
  }
}




.accordeon {
  &__line {
    background-color: green;
    color: white;
    padding: 10px;
  }

  &__content {
    background-color: burlywood;
    padding: 10px;
    display: none;
    .fade;

    &.active {
      display: block;
    }
  }

}

.hflip {
  transform: scale(-1, 1);
}

.r50 {
  border-radius: 50%;
}


#burger-menu {
  display: none;
  .fc;
  .jc;
  .vc;
  position: absolute;
  right: 7px;
  top: 11px;
  box-sizing: border-box;
  outline: none;
  cursor: pointer;
  border: none;
  background: none;
  width: 44px;
  height: 23px;
  z-index: 1;


  &.active {
    .box_item1 {
      -webkit-transform: translateX(0) translateY(10px) rotate(45deg);
      transform: translateX(0) translateY(10px) rotate(45deg);
    }

    .box_item2 {
      opacity: 0;
    }

    .box_item3 {
      -webkit-transform: translateX(0) translateY(-10px) rotate(-45deg);
      transform: translateX(0) translateY(-10px) rotate(-45deg);
    }
  }

  .box {
    width: 44px;
    height: 2px;
    background: #4af507;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    .anim;
  }
}

.show_mobile_menu {
  opacity: 1 !important;
  left: 0 !important;
}

#mobile-menu {
  padding: 15px;
  box-sizing: border-box;
  opacity: 0;
  position: absolute;
  left: -100%;
  top: 0;
  width: 100%;
  height: 100vh !important;
  background: white;
  .df;
  .jc;
  .anim;
  z-index: 1;

  ul {
    padding-left: 0;
    width: 300px;
    .df;
    .fc;
    .vc;
    list-style: none;

    a {
      text-decoration: none;
      font-size: 20px;
      font-weight: 700;
      padding: 10px 0;
      display: block;
      color: #229fd9;
      position: relative;
    }
  }
}



.custom-select {
  position: relative;

  select {
    display: none;
  }

  .select-selected {
    background-color: DodgerBlue;

    &:after {
      position: absolute;
      content: "";
      top: 14px;
      right: 10px;
      width: 0;
      height: 0;
      border: 6px solid transparent;
      border-color: #fff transparent transparent transparent;
    }

    &.select-arrow-active:after {
      border-color: transparent transparent #fff transparent;
      top: 7px;
    }
  }

  .select-items {
    position: absolute;
    background-color: DodgerBlue;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }

  .select-items div,
  .select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
  }

  .select-items div:hover,
  .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
  }

  .select-hide {
    display: none;
  }




}